.title {
  margin-right: auto;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 22px;
  margin-left: 8px;
}

.logo {
  width: 160px;
  height: 80px;
}

.import {
  display: flex;
  align-items: center;
}
